body,ul,li {
    margin: 0;
}

.menu {
    text-align: center;
    background: #b400ff;
    box-shadow: 1px 1px 8px rgba(100,100,100,.2);
    overflow: hidden;
}

.menu a {
    color: #fff;
    font: 18px Impact, sans-serif;
    line-height: 40px;
    text-transform: uppercase;
    text-decoration: none;
}

.menu .nav {
    width: 900px;
    list-style-type: none;
}

.menu .nav li {
    padding: 0;
    float: left;
}

.menu .nav li:first-child {
    margin-left: 70px;
}

.menu .nav a,
.menu .more a {
    padding: 0 17px;
}

.menu .nav a.active,
.menu .nav a:hover {
    color: #aaa;
    background: #eee;
}

.menu .more {
    width: 100px;
    margin-right: 55px;
}

.menu .more a.active,
.menu .more a:hover {
    text-decoration: underline;
}

.menu .nav,
.menu .more,
.menu .nav a,
.menu .more a {
    display: block;
}

.menu .nav.left,
.menu .more.left {
    float: left;
}

.menu .nav.right,
.menu .more.right {
    float: right;
}

.menu .nav.center,
.menu .more.center {
    margin: 0 auto;
}