body,ul,li {
    margin: 0;
}

.menu {
    text-align: center;
    width: 100%;
    background: #b400ff;
    box-shadow: 1px 1px 8px rgba(100,100,100,.2);
}

.menu a {
    color: #fff;
    font: 18px Impact, sans-serif;
    line-height: 40px;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
}

.menu .nav {
    width: 900px;
    margin: 0 auto;
    list-style-type: none;
}

.menu .nav,
.menu .nav li {
    display: inline-block;
}

.menu li:first-child {
    margin-left: 70px;
}

.menu .nav a {
    padding: 0 15px;
}

.menu .nav a.active,
.menu .nav a:hover {
    color: #aaa;
    background: #eee;
}